strong {
	color: navy;
	/* text-decoration-style: solid; */
	text-shadow: teal;
	text-shadow: -2px 0px steelblue;
}

em {
	color: cornflowerblue;
}


button.btn {
	position: relative;
	top: 30px;
	left: 27px;
}

img#icon {
	height: 58px;
	position: relative;
	top: 5px;
}

div#oh {

	position: relative;
	top: 30px;
}

h3#second{
	    text-align: center;
    margin-top: 2px;
    text-decoration: none;
    font-size: 33px;
    color: whitesmoke;
}
}
h1 {
	font-size: 36px;
	left: 36px;
	top: -12px;
	position: relative;
}

small {
	position: relative;
	top: 7px;
}

a {
	position: relative;
	top: 30px;
	left: 32px;
}

.btn-group-justified {
	display: table;
	width: 103%;
	table-layout: fixed;
	border-collapse: separate;
	position: relative;
	top: -24px;
	left: -48px;
}

.carousel {
	position: relative;
	top: 20px;
}

.carousel-inner>.item>img {
	line-height: 1;
	padding-left: 553px;
	width: 83%;
	/* position: relative; */
	/* left: 370px; */
}

.carousel-caption {
	right: 64%;
	left: 20%;
	padding-bottom: 30px;
	top: 6%;
	font-size: 23px;
	font-family: fantasy;
	font-style: impact;
	color: steelblue;
}

.carousel-indicators {
	bottom: -9px;
}

.carousel-inner {
	position: relative;
	left: -11px;
	width: 102%;
	overflow: hidden;
}

.h3, h3 {
	font-size: 40px;
	margin-top: -26px;
}